:root {
/* ##colors */
/* ### Primary */
--red: hsl(0, 78%, 62%);
--cyan: hsl(180, 62%, 55%);
--orange: hsl(34, 97%, 64%);
--blue: hsl(212, 86%, 64%);
/* ### Neutral */
--grey-500: hsl(234, 12%, 34%);
--grey-400: hsl(212, 6%, 44%);
--white: hsl(0, 0%, 100%);

/* ## Typography */
/* ### Body Copy */
--font-size: 15px;

/* ### Fonts */
--family: 'Poppins', sans-serif;
--font-weight-light: 200;
--font-weight-normal: 400;
--font-weight-bold: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /*
  margin: 0;
  padding: 0;
  */
}

body {
  margin: 1.5rem;
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
  color: var(--neutral-400);
  font-size: 15px;
  min-height: 100vh;
  display: grid;
  place-content: center;
  place-items: center;
  gap: 3.5rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* ---header--- */

.title {
  max-width: 500px;
  text-align: center;
  padding: 0rem 1rem;
  margin-bottom: 1rem;
  color: var(--grey-400);
  overflow-wrap: break-word; 
  /* forza la parola a spezzarsi se troppo lunga, evitando overflow fuori dal box */
  text-wrap: balance; 
  /* distribuisce il testo su più righe in modo equilibrato, migliorando la leggibilità */
}

.title h1 {
  font-weight: var(--font-weight-light);
  font-size: 30px;
}

.title span {
  font-weight: var(--font-weight-bold);
}

.title p {
  font-weight: var(--font-weight-normal);
}

/* ---main--- */

.main-grid {
  display: grid;
  gap: 2rem;
  max-width: 450px;
}

article {
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 1px 6px 12px 0px rgba(0, 0, 0, 0.2);
}

.card-supervisor {
  border-top: 4px solid var(--cyan);
}

.card-team-builder {
  border-top: 4px solid var(--red);
}

.card-karma {
  border-top: 4px solid var(--orange);
}

.card-calculator {
  border-top: 4px solid var(--blue);
}

.card-image {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}