:root {
/* ##colors */
/* ### Primary */
--red: hsl(0, 78%, 62%);
--cyan: hsl(180, 62%, 55%);
--orange: hsl(34, 97%, 64%);
--blue: hsl(212, 86%, 64%);
/* ### Neutral */
--grey-500: hsl(234, 12%, 34%);
--grey-400: hsl(212, 6%, 44%);
--white: hsl(0, 0%, 100%);

/* ## Typography */
/* ### Body Copy */
--font-size: 15px;

/* ### Fonts */
--family: 'Poppins', sans-serif;
--font-weight-light: 200;
--font-weight-normal: 400;
--font-weight-bold: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 1.5rem;
  background-color: var(--neutral-100);
  font-family: "Poppins", sans-serif;
  color: var(--neutral-400);
  font-size: 15px;
  min-height: 100vh;
  display: grid;
  place-content: center;
  place-items: center;
  gap: 3.5rem;
  line-height: 1.5;
}

.title {
  
}