:root {
/* ##colors */
/* ### Primary */
--red: hsl(0, 78%, 62%);
--cyan: hsl(180, 62%, 55%);
--orange: hsl(34, 97%, 64%);
--blue: hsl(212, 86%, 64%);
/* ### Neutral */
--grey-500: hsl(234, 12%, 34%);
--grey-400: hsl(212, 6%, 44%);
--white: hsl(0, 0%, 100%);

/* ## Typography */
/* ### Body Copy */
--font-size: 15px;

/* ### Fonts */
--family: [Poppins](https://fonts.google.com/specimen/Poppins);
--weights: 200, 400, 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}